<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="w-25 container">
        <% if (!isAuth) { %>
        <form class="form needs-validation" action="/signup %>" method="POST" novalidate>
            <div class="form-group">
                <label for="username">Username</label>
                <input required class="form-control <%= errors.find(e => e.param === 'username') && 'is-invalid' %>"
                    type="text" name="username" id="username" value="<%= oldInputs.username %>"
                    placeholder="Enter your username">
                <div class="invalid-feedback">
                    <%= errors.find(e => e.param === 'username') && errors.find(e => e.param === 'username').msg %>
                </div>
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input required class="form-control <%= errors.find(e => e.param === 'email') && 'is-invalid' %>"
                    type="email" name="email" id="email" value="<%= oldInputs.email %>" placeholder="Enter your email">
                <div class="invalid-feedback">
                    <%= errors.find(e => e.param === 'email') && errors.find(e => e.param === 'email').msg %>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input required class="form-control <%= errors.find(e => e.param === 'password') && 'is-invalid' %>"
                    type="password" name="password" id="password" pattern=".{6,}" value="<%= oldInputs.password %>"
                    placeholder="Minimun 6 characters">
                <div class="invalid-feedback">
                    <%= errors.find(e => e.param === 'password') && errors.find(e => e.param === 'password').msg %>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input required
                    class="form-control <%= errors.find(e => e.param === 'confirmPassword') && 'is-invalid' %>"
                    type="password" name="confirmPassword" id="confirmPassword" pattern=".{6,}"
                    value="<%= oldInputs.confirmPassword %>" placeholder="Repeat your password">
                <div class="invalid-feedback">
                    <%= errors.find(e => e.param === 'confirmPassword') && errors.find(e => e.param === 'confirmPassword').msg %>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-success" type="submit">Signup</button>
        </form>
        <% } else { %>
        <h4>You have already logged in!</h4>
        <% } %>
    </main>
    <script src="/js/confirmPassword.js"></script>
    <%- include('../includes/end.ejs') %>