<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>My Cart</h1>
        <% if (prods.length > 0) { %>
        <h3>Total Price: <%= totalPrice %>$</h3>
        <div class="grid">
            <% for (let product of prods) { %>
            <article class="card product-item" style="width: 70%; display: flex; flex-direction: row; justify-content: space-between;">
                <header class="card__content" style="flex: none;">
                    <p class="product__description"><%= product.title %> (<%= product.qty %>)</p>
                    <p class="product__price">Unit Price: <%= product.price %>$</p>
                </header>
                <div class="card__actions">
                    <a href="/products/<%= product.id %>" class="btn">Details</a>
                    <form action="/remove-from-cart" method="POST">
                        <button class="btn">Remove from Cart</button>
                        <input type="hidden" value="<%= product.id %>" name="productId">
                    </form>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1>No product currently in your cart</h1>
        <a href="/products" class="btn">Find One Now!</a>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>